body{
    background-color: beige;
}
a{
   display: inline;
   padding: 2px;
   background-color:beige;
   text-decoration:none;
   color: rgb(146, 102, 52);
   font-size: 25px;
}

li :hover
{
    text-decoration:overline gray;
}

ul{
    list-style-type: none;
    margin-left: 700px;

}
li{
    display: inline;
    margin-left: 50px;

}

.main{
    display: flex;
    margin-top: 100px;
}

.intro{
font-size: 20px;
color: rgb(82, 59, 59);
}
